.container
   .page-header
      .row
       .col-md-3
         h1 Projects
         small
       .col-md-3
         .btn-group(role='group', aria-label='...')
            button.btn.btn-default(type='button')
               a(href='/projects/map') Map View

   nrgi-list-nav(
   page="page"
   type="record_type"
   show="show_count"
   count="count"
   limit="limit"
   last="last"
   next="next"
   prev="prev"
   first="first"
   select="select")

   table#projects.table.table-striped(about='http://resourceprojects.org/project',ts-wrapper)
      thead
         tr
            th.tablesort-sortable-th(ts-criteria='proj_name') Name
            th.tablesort-sortable-th(ts-criteria='proj_country[proj_country.length - 1].country.name') Country
            th.tablesort-sortable-th(ts-criteria='proj_type[proj_type.length - 1].string') Commodity Type
            th.tablesort-sortable-th(ts-criteria='proj_commodity[0].commodity_name') Commodity
            th.tablesort-sortable-th(ts-criteria='proj_status[0].string') Status
            th.tablesort-sortable-th(ts-criteria="companies|parseInt")  No.Companies
      tbody
         tr(ng-repeat='project in projects',ts-repeat)
            td: a(href='/project/{{project._id}}')
                  span(ng-bind-html="project.proj_name|sanitize")
            td: text(ng-repeat="country in project.proj_country")
                  a(href='/country/{{country.country._id}}')
                     span(ng-bind-html="country.country.name|sanitize")
                  | {{$last ? '' : ', '}}
            td: text(ng-repeat="type in project.proj_type")
               text(ng-if="$last") {{type.string | ucfirst}}
            td: text(ng-repeat="commodity in project.proj_commodity")
                  a(href='commodity/{{commodity._id}}')
                     span(ng-bind-html="commodity.commodity_name|sanitize")
                  | {{$last ? '' : ', '}}
            td: text(ng-repeat="status in project.proj_status")
                  text(ng-if="$last")
                     | {{status.string | ucfirst}}
                     text.small  (true at {{status.timestamp | date:'MM/dd/yyyy @ h:mma' : timezone}})
            td: span(ng-if="project.companies!=0")
                 | {{project.companies}}

   nrgi-list-nav(
   page="page"
   type="record_type"
   show="show_count"
   count="count"
   limit="limit"
   last="last"
   next="next"
   prev="prev"
   first="first"
   select="select")
