.container
    .row.pagetitle
        .col-md-6
            h1 Payments by Project
                = ' '
                small(ng-if="count") {{count}}
        div.col-md-6(ng-if="transfers.length>0")
            button.btn.btn-secondary.pull-right.download(
            type='button'
            ng-click="getAllTransfers()"
            )
                span.glyphicon.glyphicon-download(aria-hidden="true")
                span  Download
                =' '
                span Payments by Project CSV
            button(
            class='hidden'
            id='loadTransfersCSV'
            ng-csv="csv_transfers"
            csv-header="getHeaderTransfers()"
            filename="transfers.csv")

    .row.top-padding-med
        .col-lg-12
            .col-md-2.right_button
                .row
                    br
                .row
                    form.form-inline
                        .form-group
                            a(href='/transfers_by_gov')
                                .btn.btn-secondary.pull-xs-right(type='button') See payments by recipient
            .col-md-2.right_button
                .row
                    br
                .row
                    form.form-inline
                        .form-group
                            a(href='/sunburst-chart'
                            target='_blank')
                                .btn.btn-secondary.pull-xs-right(type='button') See sunburst chart
    .row.top-padding-med
        fieldset.scheduler-border
            legend.scheduler-border Filter by:
            .col-md-2
                .row: b Year
                .row
                    form.form-inline
                        .form-group
                            select.form-control(ng-model="year_filter")
                                option(value="Show all years") Show all years
                                option(ng-repeat="year in year_selector| orderBy:'name'" value="{{year.name}}") {{year.name}}
            .col-md-2
                .row: b Currency
                .row
                    form.form-inline
                        .form-group
                            select.form-control(ng-model="currency_filter")
                                option(value="Show all currency") Show all currency
                                option(ng-repeat="currency in currency_selector| orderBy:'name'" value="{{currency.name}}") {{currency.name}}
            .col-md-2
                .row: b Country
                .row
                    form.form-inline
                        .form-group
                            select.type_filter.form-control(ng-model="country_filter")
                                option(value="Show all countries") Show all countries
                                option(ng-repeat="country in country_selector | orderBy:'name'" value="{{country._id}}") {{country.name}}
            .col-md-2
                .row: b Company
                .row
                    form.form-inline
                        .form-group
                            select.type_filter.form-control(ng-model="company_filter")
                                option(value="Show all companies") Show all companies
                                option(ng-repeat="company in company_selector| orderBy:'name'" value="{{company._id}}") {{company.name}}
            .col-md-2
                .row: b Type
                .row
                    form.form-inline
                        .form-group
                            select.type_filter.form-control(ng-model="type_filter")
                                option(value="Show all types") Show all types
                                option(ng-repeat="type in type_selector| orderBy:'name'" value="{{type.name}}") {{type.name}}

    .row.top-padding-med
        table#payments.table.table-striped.table-fixed-header(
        about='http://resourceprojects.org/transfer'
        ts-wrapper)
            thead.header
                tr
                    th.tablesort-sortable-th(ts-criteria='transfer_year') Year
                    th.tablesort-sortable-th(ts-criteria='company.company_name') Company
                    th.tablesort-sortable-th(ts-criteria='country.name') Country
                    th.tablesort-sortable-th(ts-criteria='proj_site.name') Project
                    th.tablesort-sortable-th(ts-criteria='proj_site.type') Level
                    th.tablesort-sortable-th(ts-criteria='transfer_type') Payment Type
                    th.tablesort-sortable-th(ts-criteria='transfer_unit') Currency
                    th.tablesort-sortable-th(ts-criteria='transfer_value') Value
            thead.header-copy.header.hide
                tr
                    th.tablesort-sortable-th(ts-criteria='transfer_year') Year
                    th.tablesort-sortable-th(ts-criteria='company.company_name') Company
                    th.tablesort-sortable-th(ts-criteria='country.name') Country
                    th.tablesort-sortable-th(ts-criteria='proj_site.name') Project
                    th.tablesort-sortable-th(ts-criteria='proj_site.type') Level
                    th.tablesort-sortable-th(ts-criteria='transfer_type') Payment Type
                    th.tablesort-sortable-th(ts-criteria='transfer_unit') Currency
                    th.tablesort-sortable-th(ts-criteria='transfer_value') Value
            tbody
                tr(
                ng-repeat="transfer in transfers | unique: '_id'"
                ts-repeat)
                    td.transfer_year {{transfer.transfer_year}}
                    td.transfer_company: a(href='company/{{transfer.company._id}}')
                        span(ng-bind-html="transfer.company.company_name|sanitize")
                    td.transfer_country: a(href='country/{{transfer.country.iso2}}')
                        span(ng-bind-html="transfer.country.name|sanitize")
                    td.transfer_type(ng-if='transfer.proj_site._id'): a(href='{{transfer.proj_site.type}}/{{transfer.proj_site._id}}') {{transfer.proj_site.name}}
                    td.transfer_type(ng-if='!transfer.proj_site._id') {{transfer.proj_site.name}}
                    td.transfer_level {{transfer.proj_site.type}}
                    td.transfer_type {{transfer.transfer_type}}
                    td.transfer_currency {{transfer.transfer_unit}}
                    td.transfer_value {{transfer.transfer_value | currency:"":0}}
    div(ng-if='transfer_count>49' infinite-scroll='loadMore()' infinite-scroll-distance='3')
    //div(ng-if='transfer_count<499' infinite-scroll='load_all()' infinite-scroll-distance='3')
    //div(ng-if="transfers.length>0")
    //    .download
    //        span.glyphicon.glyphicon-download(aria-hidden='true')
    //        span
    //            |  Download:
    //            =' '
    //            a(
    //            href=""
    //            ng-csv="csv_transfers"
    //            csv-header="getHeaderTransfers()"
    //            filename="transfers.csv") Payments by Project CSV