.container
    .row.top-padding-med.bottom-padding-med
        .col-md-4
            h1 Commodities
                = ' '
                small(ng-if="count") {{count}}
        div.col-md-8(ng-if="commodities.length>0")
            button.btn.btn-secondary.pull-right.download(
            type='button'
            ng-click="getAllCommodities()"
            )
                span.glyphicon.glyphicon-download(aria-hidden="true")
                span  Download
                =' '
                span Commodities CSV
            button(
            class='hidden'
            id='loadCommoditiesCSV'
            ng-csv="csv_commodities"
            csv-header="getHeaderCommodities()"
            filename="allCommodities.csv")

    table#commodities.table.table-striped.table-fixed-header(ts-wrapper)
        thead.header
            tr
                th.tablesort-sortable-th(ts-criteria='commodity_name') Name
                th.tablesort-sortable-th(ts-criteria='projects|parseInt') No. Projects
        thead.header-copy.header.hide
            tr
                th.tablesort-sortable-th(ts-criteria='commodity_name') Name
                th.tablesort-sortable-th(ts-criteria='projects|parseInt') No. Projects
        tbody
            tr(ng-repeat="commodity in commodities | unique: '_id'" ts-repeat)
                td.commodity_name
                    a(href='commodity/{{commodity.commodity_id}}')
                        span(ng-bind-html="commodity.commodity_name|sanitize")
                td.commodity_projects {{commodity.projects}}

    div(ng-if='commodities.length>49' infinite-scroll='loadMore()' infinite-scroll-distance='1')