.container.top-padding-med
    .card
        form(name='create_group_form')
            fieldset
                .col-xs-12
                    legend New Company Group Information
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="company_group_name") Company Group Name
                        .col-md-10
                            input.form-control(
                            id="company_group_name"
                            name="company_group_name"
                            type="text"
                            placeholder="Company Group Name"
                            ng-model="group.company_group_name"
                            required)
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="company_group_aliases") Aliases
                        .col-md-10
                            input.form-control(
                            id="company_group_aliases"
                            name="company_group_aliases"
                            type="text"
                            placeholder="Aliases"
                            ng-model="group.company_group_aliases"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="open_corporates_group_ID") Open Corporates ID
                        .col-md-10
                            input.form-control(
                            id="open_corporates_group_ID"
                            name="open_corporates_group_ID"
                            type="text"
                            placeholder="Open Corporates ID"
                            ng-model="group.open_corporates_group_ID"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="description") Description
                        .col-md-10
                            textarea.form-control(
                            id="description"
                            name="description"
                            type="text"
                            placeholder="Description"
                            ng-model="group.description"
                            )
                .form-group.row
                    .col-xs-12
                        .col-md-10.col-md-offset-2
                            .pull-xs-right
                                button.btn.btn-primary(
                                ng-click="groupCreate()"
                                ng-disabled="create_group_form.$invalid") Submit
                                | &nbsp;
                                a.btn.btn-secondary(href="/admin/group-admin") Cancel