.container
    .page-header
        h1
            span(ng-bind-html="contract.rc_info.contract_name|sanitize")
            =' '
            small Contract
    .row(ng-if="contract.location.length>0")
        .col-md-6
            nrgi-leaflet(data='contract.location' polygon='contract.polygon')

        .col-md-6
            .info-box
                h2 Contract Info
                table#contract-info
                    tbody
                        tr
                            td.detail_label.small Resource Contracts ID:
                            td.contract_id {{contract.contract_id}}
                        tr(ng-if="contract.rc_info.contract_country")
                            td.detail_label.small Country:
                            td.contract_country
                                a(href='country/{{contract.rc_info.contract_country.code}}')
                                    span(ng-bind-html="contract.rc_info.contract_country.name|sanitize")
                        tr(ng-if="contract.commodity.length>0")
                            td.detail_label.small Commodities:
                            td.commodities
                                text(ng-repeat="commodity in contract.commodity | unique: '_id'")
                                    a(href='commodity/{{commodity.commodity_id}}')
                                        span(ng-bind-html="commodity.commodity_name|sanitize")
                                    | {{$last ? '' : ', '}}
                        tr(ng-if="contract.concessions.length>0")
                            td.detail_label.small Concessions:
                            td.concessions: text(ng-repeat="concession in contract.concessions | unique: '_id'")
                                a(href='concession/{{concession._id}}')
                                    span(ng-bind-html="concession.concession_name|sanitize")
                                | {{$last ? '' : ', '}}
                nrgi-company-table(
                id="contract._id"
                type="'contract'"
                stake='false'
                group='true')

    .row.top-padding-lg
        .col-md-6
            nrgi-project-table(
            country="true"
            commodity="true"
            status="true"
            type="'contract'"
            commoditytype="true"
            id="contract._id"
            companies="false")
        .col-md-6
            nrgi-site-table(
            name="'contract'"
            id="contract._id"
            country="true"
            commodity="true"
            status="true"
            commoditytype="true")
    .row.top-padding-lg
        .col-md-12
            nrgi-production-table(
            id="contract._id"
            type="'contract'"
            projectlink="true")
    .row.top-padding-lg
        .col-md-12
            nrgi-transfer-table(
            id="contract._id"
            type="'contract'"
            projectlink="true")

    .row.top-padding-lg
        .col-md-12
            nrgi-sources-table(
            id="contract._id"
            type="'contract'")