.container
    .page-header
        h1 Contracts
            small

    nrgi-list-nav(
    page="page"
    type="record_type"
    show="show_count"
    count="count"
    limit="limit"
    last="last"
    next="next"
    prev="prev"
    first="first"
    select="select")

    table.table.table-striped(about='http://resourceprojects.org/contracts',ts-wrapper)
        thead
            tr
                th(ts-criteria='name') RC-ID
                th(ts-criteria='country.name') Country
                th(ts-criteria='contract_type') Commodity Type
                th(ts-criteria='commodities_name') Commodity
                th(ts-criteria='projects|parseInt') No. Projects
        tbody
            tr(ng-repeat="contract in contracts" ts-repeat)
                td
                    a(href='contracts/{{contract._id}}')
                        span(ng-bind-html="contract.contract_id | sanitize")
                td
                //    a(href='country/{{ contract.country._id }}')
                //        span(ng-bind-html="contract.country.name | sanitize")
                td
                    //.commodity_type {{contract.contract_type}}
                td
                    //| {{contract.commodities_name}}
                td {{contract.projects}}

    nrgi-list-nav(
    page="page"
    type="record_type"
    show="show_count"
    count="count"
    limit="limit"
    last="last"
    next="next"
    prev="prev"
    first="first"
    select="select")