.container
    .page-header
        h1
            span(ng-bind-html="contract.rc_info.contract_name|sanitize")
            =' '
            small Contract
    .row
        .col-md-6
            nrgi-leaflet(data='contract.location' polygon='contract.polygon')

        .col-md-6
            .info-box
                h2 Contract Info
                table#contract-info
                    tbody
                        tr
                            td.detail_label.small Resource Contracts ID:
                            td.contract_id {{contract.contract_id}}
                        tr
                            td.detail_label.small Commodities:
                            td.commodities
                                text(ng-repeat="commodity in contract.commodity | unique: '_id'")
                                    a(href='commodity/{{commodity.commodity_id}}')
                                        span(ng-bind-html="commodity.commodity_name|sanitize")
                                    | {{$last ? '' : ', '}}
                        tr
                            td.detail_label.small Concessions:
                            td.concessions: text(ng-repeat="concession in contract.concessions | unique: '_id'")
                                a(href='concession/{{concession._id}}')
                                    span(ng-bind-html="concession.concession_name|sanitize")
                                | {{$last ? '' : ', '}}
                nrgi-company-table(
                companies="contract.companies"
                stake='false'
                group='true')

    .row.top-padding-med
        .col-md-6
            nrgi-project-table(
            projects="contract.projects"
            country="true"
            commodity="true"
            status="true"
            type="true"
            companies="false")
        .col-md-6
            nrgi-site-table(
            sites="contract.sites"
            country="true"
            commodity="true"
            status="true"
            type="true")
    .row.top-padding-med
        .col-md-12
            nrgi-production-table(
            production="contract.production"
            project_link="true")
    .row.top-padding-med
        .col-md-12
            nrgi-transfer-table(
            transfers="contract.transfers"
            project_link="true")

    .row.top-padding-med
        .col-md-12
            nrgi-sources-table(sources="contract.sources")