.container.top-padding-med
   .card
      form(name='create_commodity_form')
         fieldset
            .col-xs-12
               legend New Commodity Information
            .form-group.row
               .col-xs-12
                  label.col-md-2.form-control-label(for="name") Commodity name
                  .col-md-10
                     input.form-control(
                     id="name"
                     name="name"
                     type="text"
                     placeholder="Commodity name"
                     ng-model="commodity.commodity_name"
                     required)
            .form-group.row
               .col-xs-12
                  .col-md-10.col-md-offset-2
                     .pull-xs-right
                        button.btn.btn-primary(
                        ng-click="commodityCreate()"
                        ng-disabled="create_commodity_form.$invalid") Submit
                        | &nbsp;
                        a.btn.btn-secondary(href="/admin/commodity-admin") Cancel