.container
    .row.top-padding-med.bottom-padding-med
        .col-md-4
            h1 Concessions
                = ' '
                small(ng-if="count") {{count}}
        div.col-md-8(ng-if="concessions.length>0")
            button.btn.btn-secondary.pull-right.download(
            type='button'
            ng-click="getAllConcessions()"
            )
                span.glyphicon.glyphicon-download(aria-hidden="true")
                span  Download
                =' '
                span Concessions CSV
            button(
            class='hidden'
            id='loadConcessionsCSV'
            ng-csv="csv_concessions"
            csv-header="getHeaderConcessions()"
            filename="allConcessions.csv")


    table#concessions.table.table-striped.table-fixed-header(about='http://resourceprojects.org/contracts'
    ts-wrapper)
        thead.header
            tr
                th.tablesort-sortable-th(ts-criteria='concession_name') Name
                th.tablesort-sortable-th(ts-criteria='concession_country[concession_country.length-1].country.name') Country
                th.tablesort-sortable-th(ts-criteria='concession_type[concession_type.length-1].string') Commodity Type
                th.tablesort-sortable-th(ts-criteria='concession_commodity[concession_commodity.length-1].commodity.commodity_name') Commodity
                th.text-center.tablesort-sortable-th(ts-criteria='concession_status[concession_status.length-1].string') Status
                th.text-center.tablesort-sortable-th(ts-criteria='project_count | parseInt') Projects
                th.text-center.tablesort-sortable-th(ts-criteria='site_count | parseInt') Sites
                th.text-center.tablesort-sortable-th(ts-criteria='field_count | parseInt') Fields
                th.text-center.tablesort-sortable-th(ts-criteria='transfer_count | parseInt') Payment records
                th.text-center.tablesort-sortable-th(ts-criteria='production_count | parseInt') Production records
        thead.header-copy.header.hide
            tr
                th.tablesort-sortable-th(ts-criteria='concession_name') Name
                th.tablesort-sortable-th(ts-criteria='concession_country[concession_country.length-1].country.name') Country
                th.tablesort-sortable-th(ts-criteria='concession_type[concession_type.length-1].string') Commodity Type
                th.tablesort-sortable-th(ts-criteria='concession_commodity[concession_commodity.length-1].commodity.commodity_name') Commodity
                th.text-center.tablesort-sortable-th(ts-criteria='concession_status[concession_status.length-1].string') Status
                th.text-center.tablesort-sortable-th(ts-criteria='project_count | parseInt') Projects
                th.text-center.tablesort-sortable-th(ts-criteria='site_count | parseInt') Sites
                th.text-center.tablesort-sortable-th(ts-criteria='field_count | parseInt') Fields
                th.text-center.tablesort-sortable-th(ts-criteria='transfer_count | parseInt') Payment records
                th.text-center.tablesort-sortable-th(ts-criteria='production_count | parseInt') Production records
        tbody
            tr(
            ng-repeat="concession in concessions"
            ts-repeat)
                td.concession_name: a(href='/concession/{{ concession._id }}')
                    span(ng-bind-html="concession.concession_name|sanitize")
                td.concession_country: span(ng-repeat="country in concession.concession_country | unique: 'country._id'")
                    a(href='country/{{country.iso2}}')
                        span(ng-bind-html="country.name|sanitize")
                    | {{$last ? '' : ', '}}
                td.concession_commodity_type
                    text(ng-repeat="commodity in concession.concession_commodity | unique: 'commodity_type'")
                        | {{commodity.commodity_type | ucfirst | addSpaces}}
                        | {{$last ? '' : ', '}}
                td.concession_commodity: span(ng-repeat="commodity in concession.concession_commodity | unique: '_id'")
                    a(href='commodity/{{commodity.commodity_id}}')
                        span(ng-bind-html="commodity.commodity_name|sanitize")
                    | {{$last ? '' : ', '}}
                td.text-center.concession_status
                    em(ng-if="concession.concession_status.length<1||concession.concession_status==null") ..
                    text(
                    ng-if="concession.concession_status.length>0"
                    ng-repeat="status in concession.concession_status")
                        text(ng-if="$last")
                            | {{status.string | ucfirst}}
                            text.small  (true at {{status.timestamp | date:'MM/dd/yyyy @ h:mma' : timezone}})
                td.text-center.concession_projects {{concession.project_count}}
                td.text-center.concession_sites {{concession.site_count}}
                td.text-center.concession_fields {{concession.field_count}}
                td.text-center.concession_payments {{concession.transfer_count}}
                td.text-center.concession_production {{concession.production_count}}

    div(ng-if='concessions.length>49' infinite-scroll='loadMore()' infinite-scroll-distance='1')