.container
	.page-header
		h1 Sources
			= ' '
			small(ng-if="count") {{count}}

	p This website is built up through user contributions, transforming company reports and filings into accessible open data. Find out
		=' '
		a(href='/contribute') how you can contribute here
		='.'
	p The site currently incorporates {{count}} sources
	.row.top-padding-med
		.right-padding-lg: b Filter by:
	.row.top-padding-med
		.col-md-2
			.row: b Source type
			.row
				form.form-inline
					.form-group
						select.form-control(ng-model="source_type_filter")
							option(value="") Show all source type
							option(ng-repeat="(key, value) in source_type_id" value="{{key}}") {{key}}
	.row.top-padding-med
		table.table.table-striped.table-fixed-header(
		about='http://resourceprojects.org/source'
		ts-wrapper)
			thead.header
				tr
					th.tablesort-sortable-th(ts-criteria='source_name') Source
					th.tablesort-sortable-th(ts-criteria='source_type_id.source_type_name') Source type
					th.tablesort-sortable-th(ts-criteria='source_url') Access source
					th.tablesort-sortable-th(ts-criteria='source_date') Source date
					th.tablesort-sortable-th(ts-criteria='retrieve_date') Retrieved date
			thead.header-copy.header.hide
				tr
					th.tablesort-sortable-th(ts-criteria='source_name') Source
					th.tablesort-sortable-th(ts-criteria='source_type') Source type
					th.tablesort-sortable-th(ts-criteria='source_url') Access source
					th.tablesort-sortable-th(ts-criteria='source_date') Source date
					th.tablesort-sortable-th(ts-criteria='retrieve_date') Retrieved date
			tbody
				tr(
				ng-repeat="source in sources"
				ts-repeat)
					td.source_name
						a(href='source/{{ source._id }}')
							span(ng-bind-html="source.source_name|sanitize")
					td.source_type {{source.source_type_id.source_type_name}}
					td.source_url
						a(href='{{ source.source_url }}' target='_blank') Link
					td.source_date {{source.source_date| date:'yyyy-MM-dd'}}
					td.retrieve_date {{source.retrieve_date| date:'yyyy-MM-dd'}}

	div(ng-if='sources.length>49' infinite-scroll='loadMore()' infinite-scroll-distance='1')
	div(ng-if="sources.length>0")
		.download
			span.glyphicon.glyphicon-download(aria-hidden="true")
			span  Download:
			=' '
			a(
			href=""
			ng-csv="csv_sources"
			csv-header="getHeaderSources()"
			filename="allSources.csv") Sources CSV