.container
    .page-header
        h1
            span(ng-bind-html="company.company_name|sanitize")
            =' '
            small Company
    .row
        .col-md-12
            leaflet(
            center="center"
            controls="controls"
            markers="company.location"
            tiles="tiles"
            height='300px')
    .row
        .col-md-6
            .info-box
                h2 Company Info
                table#company-info
                    tbody
                        tr
                            td.detail_label.small ID:
                            td.company_id {{company._id}}
                        tr
                            td.detail_label.small Website:
                            td.company_website
                                a(target="_blank" href='{{company.company_website.string }}') {{company.company_website.string}}
                        tr
                            td.detail_label.small Aliases:
                            td.company_aliases
                                text(ng-repeat="alias in company.company_aliases | unique: 'alias'")
                                    | {{alias.alias}}
                                    | {{$last ? '' : ', '}}
                        tr
                            td.detail_label.small Part of:
                            td.company_part-of
                                text(ng-repeat="group in company.company_groups | unique: '_id'")
                                    a(href='group/{{group._id}}')
                                        span(ng-bind-html="group.company_group_name|sanitize")
                                    | {{$last ? '' : ', '}}

                        tr
                            td.detail_label.small Commodities:
                            td.company_commodities
                                text(ng-repeat="commodity in company.commodities | unique: '_id'")
                                    a(href='commodity/{{commodity._id}}')
                                        span(ng-bind-html="commodity.commodity_name|sanitize")
                                    | {{$last ? '' : ', '}}
                        tr(ng-if='company.open_corporates_id')
                            td.detail_label.small Open Corporates ID:
                            td.company_open_corporates_id
                                a(target="_blank" href='https://opencorporates.com/companies/{{company.open_corporates_id}}') {{company.open_corporates_id}}
                        tr(ng-if='company.companies_house_id')
                            td.detail_label.small Companies House ID:
                            td.company_companies_house_id
                                a(target="_blank" href='https://beta.companieshouse.gov.uk/company/{{company.companies_house_id}}') {{company.companies_house_id}}
        .col-md-6
            .info-box
                h2
                    | &nbsp;
                table#company-description
                    tbody
                        tr
                            td.detail_label.small Desctiption:
                            td.company_description
                                span(ng-bind-html="company.description|sanitize")

    .row
        .col-md-12
            nrgi-project-table(projects="company.projects" country="true" type="true" companies="false")
    .row.top-padding-med
        .col-md-6
            nrgi-contract-table(
            contracts="company.contracts"
            companies="false"
            commodity="true"
            country="true")

        .col-md-6
            nrgi-concession-table(concessions="company.concessions")
    .row
        .col-md-12
            nrgi-transfer-table(transfers="company.transfers" project="false")