.container
    .page-header
        .row
            .col-md-3
                h1 Companies
                    = ' '
                    small(ng-if="count") {{count}}
            .col-md-6
            //.col-md-3
            //    .btn-group(role='group', aria-label='...')
            //        button.btn.btn-default.pull-right(type='button')
            //            a(href='/groups') View Company Groups
    nrgi-list-nav(
    page="page"
    type="record_type"
    show="show_count"
    count="count"
    limit="limit"
    last="last"
    next="next"
    prev="prev"
    first="first"
    select="select")

    .row
        .col-md-12
            table.table.table-striped(
            about='http://resourceprojects.org/company'
            ts-wrapper)
                thead
                    tr
                        th.tablesort-sortable-th(ts-criteria='company_name') Company
                        th.tablesort-sortable-th(ts-criteria='company_groups[company_groups.length-1].company_group_name') Group(s)
                        th.text-center.tablesort-sortable-th(ts-criteria='project_count | parseInt') Projects
                        th.text-center.tablesort-sortable-th(ts-criteria='site_count | parseInt') Sites
                        th.text-center.tablesort-sortable-th(ts-criteria='field_count | parseInt') Fields
                        th.text-center.tablesort-sortable-th(ts-criteria='transfer_count | parseInt') Payments
                tbody
                    tr(
                    ng-repeat="company in companies | unique: '_id'"
                    ts-repeat)
                        td.company_name: a(href='company/{{company._id}}')
                            span(ng-bind-html="company.company_name|sanitize")
                        td.company_groups: text(ng-repeat="group in company.company_groups | unique: '_id'")
                            a(href='group/{{group._id}}')
                                span(ng-bind-html="group.company_group_name|sanitize")
                            | {{$last ? '' : ', '}}
                        td.text-center.company_projects {{company.project_count}}
                        td.text-center.company_sites {{company.site_count}}
                        td.text-center.company_fields {{company.field_count}}
                        td.text-center.company_transfers {{company.transfer_count}}

    nrgi-list-nav(
    page="page"
    type="record_type"
    show="show_count"
    count="count"
    limit="limit"
    last="last"
    next="next"
    prev="prev"
    first="first"
    select="select")
