.container
    .page-header
        .row
            .col-md-3
                h1 Companies
                    small
            .col-md-6
            .col-md-3
                .btn-group(role='group', aria-label='...')
                    button.btn.btn-default.pull-right(type='button')
                        a(href='/groups') View Company Groups

    nrgi-list-nav(
    page="page"
    type="record_type"
    show="show_count"
    count="count"
    limit="limit"
    last="last"
    next="next"
    prev="prev"
    first="first"
    select="select")

    .row
        .col-md-12
            table.table.table-striped(about='http://resourceprojects.org/company' ts-wrapper)
                thead
                    tr
                        th.tablesort-sortable-th(ts-criteria='company_name')
                            | &nbsp; Company
                        th.tablesort-sortable-th(ts-criteria='company_groups[company_groups.length-1].company_group_name')
                            | &nbsp; Group(s)
                        th.tablesort-sortable-th(ts-criteria='projects|parseInt')
                            | &nbsp; No. Projects
                tbody
                    tr(ng-repeat="company in companies | unique: '_id'",ts-repeat)
                        td.company_name: a(href='company/{{company._id}}')
                            span(ng-bind-html="company.company_name|sanitize")
                        td.company_groups: text(ng-repeat="group in company.company_groups")
                            a(href='group/{{group._id}}')
                                span(ng-bind-html="group.company_group_name|sanitize")
                            | {{$last ? '' : ', '}}
                        td.company_projects {{company.projects}}

    nrgi-list-nav(
    page="page"
    type="record_type"
    show="show_count"
    count="count"
    limit="limit"
    last="last"
    next="next"
    prev="prev"
    first="first"
    select="select")
