.container
    .page-header
        h1
            span(ng-bind-html="company.company_name|sanitize")
            =' '
            small Company
    .row
        .col-md-12
            leaflet(
            center="company.countryMap"
            controls="controls"
            markers="company.projectMarkers"
            tiles="tiles"
            height='300px')
    .row
        .col-md-6
            .info-box
                h2 Company Info
                table#company-info
                    tbody
                        tr
                            td.project-label.rp-id.small ID:
                            td {{company._id}}
                        tr
                            td.project-label.website.small Website:
                            td
                                a(target="_blank" href='{{company.company_website.string }}') {{company.company_website.string}}
                        tr
                            td.project-label.aliases.small Aliases:
                            td
                                text(ng-repeat="alias in company.company_aliases")
                                    | {{alias.alias}}
                                    | {{$last ? '' : ', '}}
                        tr
                            td.project-label.part-of.small Part of:
                            td
                                text(ng-repeat="group in company.company_groups")
                                    a(href='group/{{group._id}}')
                                        span(ng-bind-html="group.company_group_name|sanitize")
                                    | {{$last ? '' : ', '}}

                        tr
                            td.project-label.commodities.small Commodities:
                            td
                                text(ng-repeat="(key, value) in company.commodities")
                                    a(href='commoddity/{{key}}')
                                        span(ng-bind-html="value|sanitize")
                                    | {{$last ? '' : ', '}}
                        tr(ng-if='company.open_corporates_id')
                            td.project-label.open-corporates.small Open Corporates ID:
                            td
                                a(target="_blank" href='https://opencorporates.com/companies/{{company.open_corporates_id}}') {{company.open_corporates_id}}
                        tr(ng-if='company.companies_house_id')
                            td.project-label.companies-house.small Companies House ID:
                            td
                                a(target="_blank" href='https://beta.companieshouse.gov.uk/company/{{company.companies_house_id}}') {{company.companies_house_id}}
        .col-md-6
            .info-box
                h2
                    | &nbsp;
                table#company-description
                    tbody
                        tr
                            td.project-label.description.small Desctiption:
                            td
                                span(ng-bind-html="company.description|sanitize")

    .row
        .col-md-12
            h2 Projects
            table.table.table-striped.projects(ts-wrapper)#project-info
                thead
                    tr
                        th(ts-criteria='project.project.proj_name') Name
                        //th
                        //    a(href="#" ng-click="proj_table_sort.sort_type = 'name'; proj_table_sort.sort_reverse = !proj_table_sort.sort_reverse")
                        //        text.left-padding-med Name
                        th(ts-criteria='project.project.proj_country.country.name') Country
                        th(ts-criteria='project.project.proj_type.string') Commodity Type
                        th(ts-criteria='project.project.proj_commodity.commodity.commodity_name[project.project.proj_commodity.commodity.commodity_name.length - 1]') Commodity
                        th(ts-criteria='project.project.proj_status.string[project.project.proj_status.string.length - 1]') Status
                tbody
                    tr(
                    ng-repeat='project in company.projects'
                    ts-repeat
                    ts-hide-no-data)
                        td: a(href='project/{{project.project._id}}')
                            span(ng-bind-html="project.project.proj_name|sanitize")
                        td: a(href='country/{{project.project.proj_country.country.iso2}}')
                            span(ng-bind-html="project.project.proj_country.country.name|sanitize")
                        td {{project.project.proj_type.string | ucfirst}}
                        td: text(ng-repeat="commodity in project.project.proj_commodity | unique: 'commodity.commodity_code'")
                            a(href='commodity/{{commodity.commodity.commodity_code}}')
                                span(ng-bind-html="commodity.commodity.commodity_name|sanitize")
                            | {{$last ? '' : ', '}}
                        td: text(ng-repeat="status in project.project.proj_status")
                            text(ng-if="$last")
                                | {{status.string | ucfirst}}
                                text.small  (true at {{status.timestamp | date:'MM/dd/yyyy @ h:mma' : timezone}})
            .download
                span.glyphicon.glyphicon-download(aria-hidden='true')
                span
                    |  Download:
                    =' '
                    a(href="") Projects CSV
                    //|  Download:
                    //=' '
                    //a(href='/sparql?default-graph-uri=&query=prefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0Aprefix+rp_misc%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2Fmisc%2F%3E%0Aprefix+skos_%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0A%0ASELECT+DISTINCT+%3Fproject+%3Fname+%3Fcountry+%3Fcountry_name+%3FcommodityType+WHERE+%7B%0A++++%3Chttp%3A%2F%2Fresourceprojects.org%2Fcompany%2F2f2508fdb642e947%3E+rp%3AholdsStake+%3Fstakes+.%0A++++%3Fstakes+rp%3AisStakeIn+%3Fproject+.%0A++++%3Fproject+a+rp%3AProject++.%0A++++%3Fproject+skos_%3AprefLabel+%3Fname+.%0A++++%0A++++OPTIONAL+%7B%0A%0A++++++%3Fproject+rp%3AhasLocation+%3Fcountry+.%0A++++++%3Fcountry+a+rp%3ACountry+.%0A++++++%3Fcountry+skos_%3AprefLabel+%3Fcountry_name+%0A++++++OPTIONAL+%7B+%3Fproject+rp%3AhasCommodity+%3Fcommodity+.%0A++++++++++++++++%3Fcommodity+rp%3AcommodityType+%3FcommodityType+%0A++++++%7D%0A++++++%0A++++%7D%0A%0A%7D%0AGROUP+BY+%3Fproject+%3Fname%0AORDER+BY+%3Fname%0A&format=text%2Fcsv&timeout=0&debug=on') Projects CSV

    //.row {{company.concessions}}
    .row.top-padding-med
        .col-md-6
            h2 Contracts
                a=' '
            table.table.table-striped.companies(ts-wrapper)#contract-info
                thead
                    tr
                        th(ts-criteria='name') Name
                        th(ts-criteria='group') Country
                        th(ts-criteria='group') Commodity
                        th(ts-criteria='group') RC-ID
                tbody
                    tr(
                    ng-repeat="contract in company.contracts"
                    ts-repeat)
                        td: a(href="contract/{{contract.idCompany}}"): span(ng-bind-html="contract.name|sanitize")
                        td: a(href="country/{{contract.country._id}}"): span(ng-bind-html="contract.country|sanitize")
                        td: a(href="commodity/{{contract.commodity._id}}"): span(ng-bind-html="contract.group|sanitize")
                        td: a(href="http://www.resourcecontracts.org/contract/{{contract}}"): span(ng-bind-html="contract|sanitize")
            .download
                span.glyphicon.glyphicon-download(aria-hidden="true")
                span
                    |  Download:
                    =' '
                    a(href="") Contracts CSV
                //| Download
                //=' '
                //a(href="/sparql?default-graph-uri=&amp;query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0A%0ASELECT+DISTINCT+%3Fcompany+%3FcompanyName+%28xsd%3Astring%28%3Fgroup_%29+as+%3Fgroup%29++%3FgroupName+WHERE+%7B%0A++++%3Fproject+rp%3AhasLocation+%3Chttp%3A%2F%2Fresourceprojects.org%2Fcountry%2FAO%3E+.%0A++++%3Fproject+a+rp%3AProject+.%0A++++%3Fproject+skos%3AprefLabel+%3Fproject_name%0A++++%0A++++OPTIONAL+%7B+%3Fproject+rp%3AhasStake+%3Fstake+.%0A+++++++++++++++%3Fstake+rp%3AhasStakeholder+%3Fcompany+.%0A+++++++++++++++%3Fcompany+a+rp%3ACompany+.%0A+++++++++++++++%3Fcompany+skos%3AprefLabel+%3FcompanyName%0A++++++++OPTIONAL+%7B+%3FgroupMembership+rp%3Aorganisation+%3Fcompany+.%0A+++++++++++++++++++%3Fgroup_+rp%3AgroupMember+%3FgroupMembership+.%0A+++++++++++++++++++%3Fgroup_+skos%3AprefLabel+%3FgroupName%0A++++++++%7D%0A++++%7D+%0A%7D+%0AGROUP+BY+%3Fcompany+%3FcompanyName%0AORDER+BY+%3FcompanyName%0A&amp;format=text%2Fcsv&amp;timeout=0&amp;debug=on") Contracts CSV

        .col-md-6
            h2 Concessions
            table.table.table-striped.projects(ts-wrapper)
                thead
                    tr
                        th(ts-criteria='name') Name
                        th(ts-criteria='commodity') Country
                        th(ts-criteria='status') Commodity Type
                        th(ts-criteria='count|parseInt') Commodity
                        th(ts-criteria='count|parseInt') Status
                tbody
                    tr(ng-repeat='(key, concession) in company.concessions')
                        td: a(href='/concession/{{key}}')
                                span(ng-bind-html="concession.concession_name|sanitize")
                        td: a(href='/country/{{concession.concession_country._id}}')
                            span(ng-bind-html="concession.concession_country.name|sanitize")
                        td {{concession.concession_type.string | ucfirst}}
                        td: text(ng-repeat="commodity in concession.concession_commodities | unique: 'commodity.commodity_code'")
                            a(href='commodity/{{commodity.commodity.commodity_code}}')
                                span(ng-bind-html="commodity.commodity.commodity_name|sanitize")
                            | {{$last ? '' : ', '}}
                        td: text(
                        ng-repeat="status in concession.concession_status"
                        ng-if="concession.concession_status.length > 0")
                            text(ng-if="$last")
                                | {{status.string | ucfirst}}
                                text.small  (true at {{status.timestamp | date:'MM/dd/yyyy @ h:mma' : timezone}})
            .download
                span.glyphicon.glyphicon-download(aria-hidden="true")
                span
                    |  Download:
                    =' '
                    a(href="") Concessions CSV
                    //| Download
                    //=' '
                    //a(href="/sparql?default-graph-uri=&amp;query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0A%0ASELECT+DISTINCT+%3Fproject+%3Fname+%28COUNT%28distinct+%3Fcompany%29+as+%3FcompanyCount%29+WHERE+%7B%0A++++%3Fproject+rp%3AhasLocation+%3Chttp%3A%2F%2Fresourceprojects.org%2Fcountry%2FAO%3E+.%0A++++%3Fproject+a+rp%3AProject+.%0A++++%3Fproject+skos%3AprefLabel+%3Fname%0A++++OPTIONAL+%7B%0A+++++++++++++++%3Fproject+rp%3AhasStake+%3Fstake+.%0A+++++++++++++++%3Fstake+rp%3AhasStakeholder+%3Fcompany+.%0A+++++++++++++++%3Fcompany+a+rp%3ACompany+%0A++++%7D%0A%7D+%0AORDER+BY+%28%3Fname%29%0A%0A%0A&amp;format=text%2Fcsv&amp;timeout=0&amp;debug=on") Concessions CSV

    h2 Payments
    table.table.table-striped.payments(
    ts-wrapper
    ng-if='company.transfers.length!=0')
        thead
            tr
                th(ts-criteria='year|parseInt') Year
                th(ts-criteria='paidTo') Paid by
                th(ts-criteria='paidBy') Paid to
                th(ts-criteria='type') Payment Type
                th(ts-criteria='currency') Currency
                th(ts-criteria='value|parseInt') Value
                th(ts-criteria='receipt') Payment or receipt?
        tbody
            tr(
            ng-repeat="transfer in company.transfers"
            ts-repeat)
                td {{transfer.transfer_year}}
                td
                    a(href="company/{{transfer.transfer_company}}")
                        span(ng-bind-html="company.company_name|sanitize")
                td
                    a(href="country/{{transfer.transfer_country.iso2}}")
                        span(ng-bind-html="transfer.transfer_country.name|sanitize")
                td {{transfer.transfer_type}}
                td {{transfer.transfer_unit}}
                td {{transfer.transfer_value}}
                td {{transfer.transfer_audit_type}}
    .download
        span.glyphicon.glyphicon-download(aria-hidden='true')
        span
            |  Download:
            =' '
            a(href="") Payments CSV
            //|  Download:
            //=' '
            //a(href='/sparql?default-graph-uri=&query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0Aprefix+rp_misc%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2Fmisc%2F%3E%0Aprefix+skos_%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0A%0ASELECT+%3Ftransaction+%3FpaymentOrReceipt+%3Fpayee_name+%3Fcurrency+%28replace%28%3Famount%2C%22%2C%22%2C%22%22%29+as+%3Famount%29+%3Fdate+%3Fyear+%3Ftype+WHERE+%7B%0A++++%3Ftransaction+rp%3Apayer+%3Chttp%3A%2F%2Fresourceprojects.org%2Fcompany%2F2f2508fdb642e947%3E.%0A++++%3Ftransaction+rp%3Avalue+%3Famount.%0A++++%3Ftransaction+a+%3FpaymentOrReceipt.%0A%0A+++++++OPTIONAL+%7B%0A++++++++%3Ftransaction++rp%3Apayee+%3FcountryParty+.%0A++++++++%3FcountryParty+a+rp%3ACountry+.%0A++++++++%3FcountryParty+skos_%3AprefLabel+%3FcountryParty_name.%0A+++++++%7D%0A+++++++OPTIONAL+%7B%0A++++++++%3Ftransaction++rp%3Apayee+%3FgovParty+.%0A++++++++%3FgovParty+a+rp%3AGovernmentParty.%0A++++++++%3FgovParty+skos_%3AprefLabel+%3FgovParty_name.%0A+++++++%7D%0A%0A+++++++%23%23+This+should+be+renamed+payee%2C+but+for+now+we+stick+with+country+to+avoid+reworking+the+html+templates%0A+++++++BIND%28IF%28bound%28%3FgovParty%29%2C%3FgovParty%2C%3FcountryParty%29+as+%3Fpayee%29%0A+++++++BIND%28IF%28bound%28%3FgovParty%29%2Cconcat%28%3FgovParty_name%2C%22+%28%22%2C%3FcountryParty_name%2C%22%29%22%29%2C%3FcountryParty_name%29+as+%3Fpayee_name%29++++%0A%0A%0A++++OPTIONAL+%7B+%3Ftransaction+rp%3Acurrency+%3Fcurrency+%7D%0A%0A++++OPTIONAL+%7B+%3Ftransaction+rp%3Adate+%3Fdate+%7D+%0A++++OPTIONAL+%7B+%3Ftransaction+rp%3Ayear+%3Fyear+%7D%0A++++OPTIONAL+%7B+%3Ftransaction+rp%3ApaymentType+%3FpaymentType.%0A+++++++++++++++%3FpaymentType+skos%3AprefLabel+%3Ftype%0A++++%7D%0A++++%23The+filter+is+needed+because+this+project+name+is+used+twice%3A+%0A++++%23https%3A%2F%2Fgithub.com%2FNRGI%2Fresourceprojects.org-frontend%2Fissues%2F197%0A++++FILTER+%28str%28%3Ftype%29+%21%3D+%22Taxes+levied+on+the+income%2C+production+or+profits+of+companies%2C%22%29%0A%7D%0AGROUP+BY+%3Ftransaction%0AORDER+BY+%3Fdate+%3Fyear%0A&format=text%2Fcsv&timeout=0&debug=on') Payments CSV
    //.advanced-links
    //    .container
    //        h3
    //            a(href='sources/{{}}') Sources
