button.btn.btn-primary-outline.btn-block(
type="button"
data-toggle="collapse"
ng-click='openClose=!openClose'
data-target="#productions")
    h4.text-justify Production Stats
#productions.panel-collapse.collapse.in
    table.load_table.table.table-striped.projects(
    ts-wrapper
    ng-class="production.length >= 8 ? 'header-fixed' : ''")#transfer-info
        thead
            tr
                th.tablesort-sortable-th(ts-criteria='production_year|parseInt') Year
                th.text-right.tablesort-sortable-th(ts-criteria='production_volume') Volume
                th.tablesort-sortable-th(ts-criteria='production_unit') Unit
                th.tablesort-sortable-th(ts-criteria='production_commodity.commodity_name') Commodity
                th.text-right.tablesort-sortable-th(ts-criteria='production_price|parseInt') Price
                th.text-right.tablesort-sortable-th(ts-criteria='production_price_unit') Price unit
                th.text-center.tablesort-sortable-th(ts-criteria='production_level') Level
                th.tablesort-sortable-th(
                ng-if="projectlink==true"
                ts-criteria='production_links.name') Project / Site
        tbody.productionsScrollContainer
            span(
            us-spinner="{radius:32, width:12, length: 0, lines:17, scale: 0.25}"
            spinner-start-active="true"
            spinner-key="spinner-production")
            tr(
            ng-repeat="prod in production"
            ts-repeat ng-class="expression")
                td.production_year {{prod.production_year}}
                td.text-right.production_volume  {{prod.production_volume | currency:"":0}}
                td.production_unit {{prod.production_unit}}
                td.production_commodity
                    a(href='commodity/{{prod.production_commodity.commodity_id}}')
                        span(ng-bind-html="prod.production_commodity.commodity_name|sanitize")
                td.text-right.production_price
                    text(ng-if="prod.production_price") {{prod.production_price}}
                    em(ng-if="!prod.production_price") ..
                td.text-right.production_price_per_unit {{prod.production_price_unit}}
                    text(ng-if="prod.production_price") {{prod.production_price_unit}}
                    em(ng-if="!prod.production_price") ..
                td.text-center.production_level {{prod.proj_site.type}}
                td.project_links(ng-if="projectlink===true")
                    a(href="{{prod.proj_site.type}}/{{prod.proj_site._id}}")
                        span(ng-bind-html="prod.proj_site.name|sanitize")
    div(ng-if='production.length>49' infinite-scroll='loadMoreProductions()' infinite-scroll-distance='3' infinite-scroll-container='".productionsScrollContainer"')
    div(ng-if="production.length>0")
        .download
            span.glyphicon.glyphicon-download(aria-hidden='true')
            span
                |  Download:
                =' '
                a(
                href=""
                ng-click='getAllProductions()') Production Stats CSV
                button(
                class='hidden'
                id='loadProductionCSV'
                href=""
                ng-csv="loadProductionsCSV()"
                lazy-load='true'
                csv-header="getHeaderProduction()"
                filename="productions.csv")
