.row(ng-if="data_loading")
    h2.text-center Data Loading
    div.spinner
        div.double-bounce1
        div.double-bounce2
leaflet(
center="center"
controls="controls"
markers="location"
tiles="tiles"
height='height'
paths='paths'
ng-if="show!=false")
