button.btn.btn-primary-outline.btn-block(
type="button"
data-toggle="collapse"
ng-click='openClose=!openClose; getProjects(id,type)'
data-target="#projects")
    h4.text-justify Projects
//a(data-toggle="collapse" ng-click='openClose=!openClose;getProjects(id,type)' data-target="#projects")
//    h2 Projects
#projects.panel-collapse.collapse.in
    table.load_table.table.table-striped.projects(
    ts-wrapper
    ng-class="projects.length >= 8 ? 'header-fixed' : ''"
    width="100%"
    height="100%")
        thead
            tr
                th.tablesort-sortable-th(ts-criteria='proj_name') Name
                th.tablesort-sortable-th(
                ng-if="country==true"
                ts-criteria='proj_country[proj_country.length - 1].country.name') Country
                th.tablesort-sortable-th(
                ng-if="commoditytype==true"
                ts-criteria='proj_type[proj_type.length - 1].string') Commodity Type
                th.tablesort-sortable-th(
                ng-if="commodity==true"
                ts-criteria='proj_commodity[proj_commodity.length - 1].commodity.commodity_name') Commodity
                th.tablesort-sortable-th(
                ng-if="status==true"
                ts-criteria='proj_status.string') Status
                th.text-center.tablesort-sortable-th(
                ng-if="companies==true"
                ts-criteria='companies_count|parseInt') Companies
        tbody
            span(
            us-spinner="{radius:32, width:12, length: 0, lines:17, scale: 0.25}"
            spinner-start-active="true"
            spinner-key="spinner-project")
            tr(
            ng-repeat="project in projects | unique: '_id'"
            ts-repeat ng-class="expression")
                td.proj_id
                    a(href='project/{{project.proj_id}}')
                        span(ng-bind-html="project.proj_name|sanitize")
                td.proj_country(ng-if="country==true"): text(ng-repeat="country in project.proj_country | unique: 'country._id'")
                    a(href='country/{{country.country.iso2}}')
                        span(ng-bind-html="country.country.name|sanitize")
                    | {{$last ? '' : ', '}}
                //td.proj_type(ng-if="type==true"): text(ng-repeat="type in project.proj_type")
                //    | {{type.string | ucfirst}}
                //    | {{$last ? '' : ', '}}
                td.proj_commodity_type(ng-if="commoditytype==true"): text(ng-repeat="commodity in project.proj_commodity | unique: 'commodity.commodity_type'")
                    | {{commodity.commodity.commodity_type | ucfirst | addSpaces}}
                    | {{$last ? '' : ', '}}
                td.proj_commodity(ng-if="commodity==true"): text(ng-repeat="commodity in project.proj_commodity | unique: 'commodity._id'")
                    a(href='commodity/{{commodity.commodity.commodity_id}}')
                        span(ng-bind-html="commodity.commodity.commodity_name|sanitize")
                    | {{$last ? '' : ', '}}
                td.proj_status(ng-if="status==true")
                    em(ng-if="project.proj_status.length<1") ..
                    text(
                    ng-if="project.proj_status")
                        | {{project.proj_status.string | ucfirst | addSpaces}}
                        text.small(ng-if="project.proj_status.timestamp")  (true at {{project.proj_status.timestamp | date:'MM/dd/yyyy @ h:mma' : timezone}})
                td.text-center(ng-if="companies==true && project.companies.length>0"): text(ng-repeat="company in project.companies ")
                    a(href='company/{{company._id}}')
                        span(ng-bind-html="company.company_name|sanitize")
                    | {{$last ? '' : ', '}}
                td.text-center(ng-if="companies==true && project.companies_count>=3") ({{project.companies_count}}) "companies"
                td.text-center(ng-if="companies==true && project.companies_count ==0 && project.companies.length==0")
    div(ng-if="projects.length>0")
        .download
            span.glyphicon.glyphicon-download(aria-hidden='true')
            span
                |  Download:
                =' '
                a(
                href=""
                ng-csv="csv_project"
                csv-header="getHeaderProjects()"
                filename="projects.csv") Projects CSV