button.btn.btn-primary-outline.btn-block(
type="button"
data-toggle="collapse"
ng-click='openClose=!openClose'
data-target="#transfers")
    h4.text-justify(ng-if='type=="country"') Payments by Project
    h4.text-justify(ng-if='type!="country"') Payments
#transfers.panel-collapse.collapse.in
    table.load_table.table.table-striped.projects(
    ng-class="transfers.length >= 8 ? 'header-fixed' : ''"
    ts-wrapper
    width="100%"
    height="100%")#transfer-info
        thead
            tr
                th.tablesort-sortable-th(ts-criteria='transfer_year') Year
                th.tablesort-sortable-th(ts-criteria='company.company_name') Paid By
                th.tablesort-sortable-th(ts-criteria='country.name') Paid To
                th.tablesort-sortable-th(ts-criteria='proj_site.name') Project
                th.tablesort-sortable-th(ts-criteria='proj_site.type') Level
                th.tablesort-sortable-th(ts-criteria='transfer_type') Payment Type
                th.tablesort-sortable-th(ts-criteria='transfer_unit') Currency
                th.tablesort-sortable-th(ts-criteria='transfer_value') Value
        tbody.transfersScrollContainer
            span(
            us-spinner="{radius:32, width:12, length: 0, lines:17, scale: 0.25}"
            spinner-start-active="true"
            spinner-key="spinner-transfers")
            tr(
            ng-repeat="transfer in transfers | unique: '_id'"
            ts-repeat ng-class="expression")
                td.transfer_year {{transfer.transfer_year}}
                td.transfer_company: a(href='company/{{transfer.company._id}}')
                    span(ng-bind-html="transfer.company.company_name|sanitize")
                td.transfer_country: a(href='country/{{transfer.country.iso2}}')
                    span(ng-bind-html="transfer.country.name|sanitize")
                td.transfer_type(ng-if='transfer.proj_site._id'): a(href='{{transfer.proj_site.type}}/{{transfer.proj_site._id}}') {{transfer.proj_site.name}}
                td.transfer_type(ng-if='!transfer.proj_site._id') {{transfer.proj_site.name}}
                td.transfer_level {{transfer.transfer_level}}
                td.transfer_type {{transfer.transfer_type}}
                td.transfer_currency {{transfer.transfer_unit}}
                td.transfer_value {{transfer.transfer_value | currency:"":0}}
    div(ng-if='transfers.length>49' infinite-scroll='loadMoreTransfers()' infinite-scroll-distance='3' infinite-scroll-container='".transfersScrollContainer"')
    div(ng-if="transfers.length>0")
        .download
            span.glyphicon.glyphicon-download(aria-hidden='true')
            span
                |  Download:
                =' '
                a(
                href=""
                ng-click="getAllPayments()") Payments CSV
                button(
                class='hidden'
                id='loadPaymentCSV'
                href=""
                ng-csv="loadPaymentsCSV()"
                lazy-load='true'
                csv-header="getHeaderTransfers()"
                filename="transfers.csv")

