.container
    .row.top-padding-med.bottom-padding-med
        .col-md-6
            h1 Dataset Import Management

    .row.bottom-padding-lg
        div.col-md-7
            a.btn.block.btn-primary-outline(href="/admin/etl/datasets/new") Create New Import
            | &nbsp;
            a.btn.block.btn-primary-outline(
            target="_new"
            href="https://docs.google.com/spreadsheets/d/1fwKl9SSAaPwSGqk4aM30MKbl76s_3XL1Y4riOiESZZQ/copy") Create New Dataset
            | &nbsp;
            button.btn.block.btn-danger.btn-warning-outline(type='button' ng-click = 'dalete_all_data()'
            ) Delete all data
            | &nbsp;
            a.btn.block.btn-primary-outline(ng-click = 'refresh_data()') Refresh
            | &nbsp;
        div.col-md-2
        div.col-md-3
            form.form-inline
                .form-group
                    input.form-control(
                    ng-model="search_text"
                    placeholder="Filter")

    table#datasets.table(ts-wrapper)
        thead
            tr
                th.tablesort-sortable-th(ts-criteria='name') Name
                //th(style={"width": "30%", "word-wrap": "break-word"}) Source
                th Source
                th Action History
                th Available Actions
        tbody
            tr(ng-repeat="dataset in datasets | filter:search_text" ts-repeat)
                td {{dataset.name}}
                td
                    a(
                    href="{{dataset.source_url}}"
                    target="_blank").wrap-content {{dataset.source_url}}
                td
                    p(ng-repeat="action in dataset.actions")
                        text {{action.name}} &nbsp;
                        a(
                        ng-if="action.status == 'Success'"
                        class=["label", "label-success"]
                        data-toggle="tooltip"
                        title="Click to read full report"
                        href="{{'/admin/etl/datasets/' + dataset._id + '/actions/' + action._id + '/report'}}"
                        target="_new") Success
                        span(
                        ng-if="action.status == 'Started'"
                        class=["label", "label-warning"]) Running
                        a(
                        ng-if="action.status == 'Failed'"
                        class=["label", "label-danger"]
                        data-toggle="tooltip"
                        title="Click to read full report"
                        href="{{'/admin/etl/datasets/' + dataset._id + '/actions/' + action._id + '/report'}}"
                        target="_new") Failed
                td
                    .row
                        span(ng-if="!dataset.isLoaded || dataset.canReLoad")
                            a.btn.center-block.btn-primary-outline(ng-click="startAction('import', dataset._id)") Import
                        span(ng-if="dataset.isLoaded")
                            a.btn.center-block.btn-secondary.disabled() Import
                    .row
                        span(ng-if="dataset.canBeUnloaded")
                            a.btn.center-block.btn-primary-outline(ng-click="startAction('unload', dataset._id)") Unload
                        span(ng-if="!dataset.canBeUnloaded")
                            a.btn.center-block.btn-secondary.disabled() Unload
                    .row
                        span(ng-if="dataset.hasDuplicates")
                            a.btn.center-block.btn-primary-outline(href="/admin/reconcile") Reconcile
                        span(ng-if="!dataset.hasDuplicates")
                            a.btn.center-block.btn-secondary.disabled() Reconcile
                    .row
                        span(ng-if="dataset.readyForCleaning")
                            a.btn.center-block.btn-primary-outline(ng-click="startAction('cleaned', dataset._id)") Mark as cleaned
                        span(ng-if="!dataset.readyForCleaning")
                            a.btn.center-block.btn-secondary.disabled() Mark as cleaned