.container
    .row.top-padding-med.bottom-padding-med
        h1 Reconciliation (De-duplification) Management
        p This page shows all unresolved duplicates. Duplicates are "removed" by marking them as resolved and the course of action taken. Hence, when new data comes in and matches the data in a duplicate rather than the intended original, you will not need to perform the reconciliation process again.
    .row.bottom-padding-lg
        div.col-md-9
        div.col-md-3
            form.form-inline
                .form-group
                    input.form-control(
                    ng-model="search_text"
                    placeholder="Filter")
    table#reconcile.table(ts-wrapper)
        thead
            tr
                th.tablesort-sortable-th(ts-criteria='original.company_name') Identifier
                th Category
                th Notes
                th Available Actions


        tbody
            tr(ng-repeat="duplicate in duplicates | filter:search_text" ts-repeat)
                //td(ng-repeat="action in dataset.actions")
                //    span(ng-if="$last") {{action.name}}
                td
                    | Original: {{duplicate.original.company_name}}
                    br
                    | Duplicate: {{duplicate.duplicate.company_name}}
                td
                    | {{duplicate.entity}}

                td
                    | {{duplicate.notes}}
                td
                    a.btn.btn-danger(
                    data-toggle="tooltip"
                    ng-click="resolve(duplicate._id,'resolve')"
                    title="Resolve")
                        span(class="glyphicon glyphicon-remove")
                    //title="If there is no new information in the duplicate, simply remove it and move all linked data to the original entity.")

                    | &nbsp;
                    a.btn.btn-warning(
                    data-toggle="tooltip"
                    ng-click="resolve(duplicate._id,'update')"
                    title="Update")
                        span(class="glyphicon glyphicon-transfer")
                        //span(class="glyphicon glyphicon-paste")
                    //title="If the name of the entity represents an alias, store its name as such, then remove it and move all linked data to the original entity.")

                    //| &nbsp;
                    //a.btn.btn-warning.disabled(
                    //data-toggle="tooltip"
                    //ng-click=""
                    //title="Move all linked data to the original entity and copy this entity's details into the original. You will then be redirected to the edit page for the original entity to clean up.")
                    //    span(class="glyphicon glyphicon-transfer")
                    //| &nbsp;
                    //a.btn.btn-success.disabled(
                    //data-toggle="tooltip"
                    //ng-click=""
                    //title="Mark this entity as a fully-fledged independent entity. No changes to the suspected original are made.")
                    //    span(class="glyphicon glyphicon-check")