.container
    .row.top-padding-med.bottom-padding-med
        h1 Reconciliation (De-duplification) Management
        p This page shows all unresolved duplicates. Duplicates are "removed" by marking them as resolved and the course of action taken. Hence, when new data comes in and matches the data in a duplicate rather than the intended original, you will not need to perform the reconciliation process again.
        div.col-md-3
            .row.top-padding-med
                .right-padding-lg: b Filter by:
                    .right-padding-lg: b Type
                    .right-padding-lg
                        form.form-inline
                            .form-group
                                select.form-control(ng-model="type_filter" ng-change='changeTypeFilter(type_filter)')
                                    option(ng-repeat="type in types" value="{{type.name}}") {{type.name}}
    .row.top-padding-med
        .col-md-12
            table#reconcile.table(ts-wrapper)
                thead
                    tr
                        th.tablesort-sortable-th(ng-if="type_filter =='company'",ts-criteria='original.company_name') Identifier
                        th.tablesort-sortable-th(ng-if="type_filter =='project'",ts-criteria='original.proj_name') Identifier
                        th Category
                        th Notes
                        th Available Actions

                tbody
                    tr(ng-repeat="duplicate in duplicates | filter:search_text" ts-repeat)
                        td
                            text Original:
                                text(ng-if='duplicate.original.company_name') {{duplicate.original.company_name}}
                                text(ng-if='duplicate.original.proj_name') {{duplicate.original.proj_name}}
                            br
                            text Duplicate:
                                text(ng-if='duplicate.duplicate.company_name') {{duplicate.duplicate.company_name}}
                                text(ng-if='duplicate.duplicate.proj_name') {{duplicate.duplicate.proj_name}}
                        td
                            | {{duplicate.entity}}

                        td
                            | {{duplicate.notes}}
                        td
                            a.btn.btn-danger(
                            data-toggle="tooltip"
                            ng-click="resolve_duplicate(duplicate._id,'resolve')"
                            title="Resolve")
                                span(class="glyphicon glyphicon-remove")
                            | &nbsp;
                            a.btn.btn-warning(
                            data-toggle="tooltip"
                            ng-click="resolve_duplicate(duplicate._id,'update')"
                            title="Update")
                                span(class="glyphicon glyphicon-transfer")
    div(ng-if='duplicates.length>49' infinite-scroll='loadMore()' infinite-scroll-distance='1')

