.container
    .row.top-padding-med.bottom-padding-med
        h1 Reconciliation (De-duplification) Management
        p This page shows all unresolved duplicates. Duplicates are "removed" by marking them as resolved and the course of action taken. Hence, when new data comes in and matches the data in a duplicate rather than the intended original, you will not need to perform the reconciliation process again.
    .row.bottom-padding-lg
        div.col-md-9
        div.col-md-3
            form.form-inline
                .form-group
                    input.form-control(
                    ng-model="search_text"
                    placeholder="Filter")
    .row
        .col-md-12
            table#reconcile.table(ts-wrapper)
                thead
                    tr
                        th.tablesort-sortable-th(ts-criteria='original.company_name') Identifier
                        th Category
                        th Notes
                        th Available Actions

                tbody
                    tr(ng-repeat="duplicate in duplicates | filter:search_text" ts-repeat)
                        td
                            | Original: {{duplicate.original.company_name}}
                            br
                            | Duplicate: {{duplicate.duplicate.company_name}}
                        td
                            | {{duplicate.entity}}

                        td
                            | {{duplicate.notes}}
                        td
                            a.btn.btn-danger(
                            data-toggle="tooltip"
                            ng-click="resolve_duplicate(duplicate._id,'resolve')"
                            title="Resolve")
                                span(class="glyphicon glyphicon-remove")
                            | &nbsp;
                            a.btn.btn-warning(
                            data-toggle="tooltip"
                            ng-click="resolve_duplicate(duplicate._id,'update')"
                            title="Update")
                                span(class="glyphicon glyphicon-transfer")
    div(ng-if='duplicates.length>49' infinite-scroll='loadMore()' infinite-scroll-distance='1')

