.container
    .page-header
        h1
            span(ng-bind-html="company.company_name|sanitize")
            =' '
            small Company
    .row
        .col-md-12
            nrgi-leaflet(id='data.proj_coordinates' type="'company'")
    .row.top-padding-med
        .col-md-6
            .info-box
                h2 Company Info
                table#company-info
                    tbody
                        tr
                            td.detail_label.small ID:
                            td.company_id {{company._id}}
                        tr(ng-if="company.company_website")
                            td.detail_label.small Website:
                            td.company_website
                                a(
                                target="_blank"
                                href='{{company.company_website.string }}') {{company.company_website.string}}
                        tr(ng-if="company.company_aliases.length>0")
                            td.detail_label.small Aliases:
                            td.company_aliases
                                text(ng-repeat="alias in company.company_aliases | unique: 'alias'")
                                    | {{alias.alias}}
                                    | {{$last ? '' : ', '}}
                        tr(ng-if="company.company_groups.length>0")
                            td.detail_label.small Part of:
                            td.company_part-of
                                text(ng-repeat="group in company.company_groups | unique: '_id'")
                                    a(href='group/{{group._id}}')
                                        span(ng-bind-html="group.company_group_name|sanitize")
                                    | {{$last ? '' : ', '}}

                        tr(ng-if="company.company_commodity.length>0")
                            td.detail_label.small Commodity type(s):
                            td.company_commodities
                                span(ng-repeat="commodity in company.company_commodity | unique: 'commodity_type'")
                                    | {{commodity.commodity_type | ucfirst | addSpaces}}
                                    | {{$last ? '' : ', '}}
                        tr(ng-if="company.company_commodity.length>0")
                            td.detail_label.small Commodities:
                            td.company_commodities
                                span(ng-repeat="commodity in company.company_commodity | unique: 'commodity_id'")
                                    a(href='commodity/{{commodity.commodity_id}}')
                                        span(ng-bind-html="commodity.commodity_name|sanitize")
                                    | {{$last ? '' : ', '}}
                        tr(ng-if='company.open_corporates_id')
                            td.detail_label.small Open Corporates ID:
                            td.company_open_corporates_id
                                a(
                                target="_blank"
                                href='https://opencorporates.com/companies/{{company.open_corporates_id}}') {{company.open_corporates_id}}
                        tr(ng-if='company.companies_house_id')
                            td.detail_label.small Companies House ID:
                            td.company_companies_house_id
                                a(
                                target="_blank"
                                href='https://beta.companieshouse.gov.uk/company/{{company.companies_house_id}}') {{company.companies_house_id}}


        .col-md-6
            .info-box(ng-if="company.description")
                h2
                    | &nbsp;
                table#company-description
                    tbody
                        tr
                            td.detail_label.small Desctiption:
                            td.company_description
                                span(ng-bind-html="company.description|sanitize")

    .row.top-padding-lg(ng-if="data")
        .col-md-12
            nrgi-project-table(
            country="true"
            commodity="true"
            status="true"
            commoditytype="true"
            countryid="id"
            type="'company'"
            id="data.projects"
            companies="false")
    .row.top-padding-lg(ng-if="data")
        .col-md-12
            nrgi-site-table(
            name="'company'"
            countryid="id"
            id="data.sites"
            country="true"
            commoditytype="true"
            commodity="true"
            status="true"
            type="false")
    .row.top-padding-lg(ng-if="data")
        .col-md-6
            nrgi-contract-table(
            type="'company'"
            id="company._id"
            companies="false"
            commodity="true"
            country="true")
        .col-md-6
            nrgi-concession-table(
            name="'company'"
            commodity="true"
            countryid="id"
            id="data.concessions"
            country="true"
            type="true"
            status="false"
            projects="false")
    .row.top-padding-lg(ng-if="data")
        .col-md-12
            nrgi-transfer-table(
            type="'company'"
            countryid="id"
            id="data.transfers"
            project="false"
            projectlink="true")
    .row.top-padding-lg(ng-if="data")
        .col-md-12
            nrgi-production-table(
            type="'company'"
            countryid="id"
            id="data.production"
            projectlink="true")
    .row.top-padding-lg(ng-if="data")
        .col-md-12
            nrgi-sources-table(
            id="company._id"
            type="'company'")