.container
    .page-header
        h1 Concessions
            small

    nrgi-list-nav(
    page="page"
    type="record_type"
    show="show_count"
    count="count"
    limit="limit"
    last="last"
    next="next"
    prev="prev"
    first="first"
    select="select")
    .row
        .col-md-12
            table.table.table-striped(about='http://resourceprojects.org/contracts',ts-wrapper)
                thead
                    tr
                        th.tablesort-sortable-th(ts-criteria='concession_name') Name
                        th.tablesort-sortable-th(ts-criteria='concession_country[concession_country.length-1].country.name') Country
                        th.tablesort-sortable-th(ts-criteria='concession_type[concession_type.length-1].string') Commodity Type
                        th.tablesort-sortable-th(ts-criteria='concession_commodity[concession_commodity.length-1].commodity.commodity_name') Commodity
                        th.tablesort-sortable-th(ts-criteria='concession_status[concession_status.length-1].string') Status
                        th.tablesort-sortable-th(ts-criteria='projects|parseInt') No. Projects
                tbody
                    tr(ng-repeat="concession in concessions" ts-repeat)
                        td.concession_name: a(href='/concession/{{ concession._id }}')
                            span(ng-bind-html="concession.concession_name|sanitize")
                        td.concession_country: text(ng-repeat="country in concession.concession_country | unique: 'country._id'")
                            a(href='/country/{{country.country.iso2}}')
                                span(ng-bind-html="country.country.name|sanitize")
                            | {{$last ? '' : ', '}}
                        td.concession_type: text(ng-repeat="type in concession.concession_type")
                            text(ng-if="$last") {{type.string | ucfirst}}
                        td.concession_commodity: text(ng-repeat="commodity in concession.concession_commodity | unique: 'commodity._id'")
                            a(href='/commodity/{{commodity.commodity._id}}')
                                span(ng-bind-html="commodity.commodity.commodity_name|sanitize")
                            | {{$last ? '' : ', '}}
                        td.concession_status: text(ng-repeat="status in concession.concession_status")
                            text(ng-if="$last")
                                | {{status.string | ucfirst}}
                                text.small  (true at {{status.timestamp | date:'MM/dd/yyyy @ h:mma' : timezone}})
                        td.concession_projects {{concession.projects}}

    nrgi-list-nav(
    page="page"
    type="record_type"
    show="show_count"
    count="count"
    limit="limit"
    last="last"
    next="next"
    prev="prev"
    first="first"
    select="select")
