.container
    .page-header
        h1
            span(ng-bind-html="concession.concession_name|sanitize")
            =' '
            small Concession
    .row(ng-if="concession.proj_coordinates.length>0")
        .col-md-12
            nrgi-leaflet(data='concession.proj_coordinates')
    .row
        .col-md-6
            .info-box
                h2 Concession Info
                table#concession-info
                    tbody
                        tr
                            td.detail_label ID:
                            td.concession_id {{concession._id}}
                        tr(ng-if="concession.oo_concession_id")
                            td.detail_label.small Open Oil ID:
                            td.concession_open_oil_id
                                a(href='')
                                    | {{concession.oo_concession_id}}
                                | &nbsp; (TODO work figure out OO link pattern)
                        tr(ng-if="concession.concession_aliases.length>0")
                            td.detail_label.small Aliases:
                            td.concession_aliases
                                span(ng-repeat="alias in concession.concession_aliases | unique: 'alias'")
                                    span {{alias.alias}}
                                    | {{$last ? '' : ', '}}
                        tr
                            td.detail_label.small Country:
                            //TODO figure out why full array isnt populating
                            td.concession_country
                                span(ng-repeat="country in concession.concession_country | unique: 'country.country.iso2'")
                                    span(ng-if="$first"): a(href='country/{{country.country.iso2}}')
                                        span(ng-bind-html="country.country.name|sanitize")
                        tr(ng-if="concession.concession_status.length>0")
                            td.detail_label.small Status:
                            td.concession_status: text(
                            ng-repeat="status in concession.concession_status"
                            ng-if="concession.concession_status.length > 0")
                                span(ng-if="$last")
                                    | {{status.string | ucfirst}}
                                    span.small  (true at {{status.timestamp | date:'MM/dd/yyyy @ h:mma' : timezone}})
                        tr
                            td.detail_label.small Commodity type:
                            td.concession_commodity_type
                                span(ng-repeat="commodity in concession.concession_commodity | unique: 'commodity.commodity_type'")
                                    | {{commodity.commodity_type | ucfirst | addSpaces}}
                                    | {{$last ? '' : ', '}}
                        tr
                            td.detail_label.small Commodities:
                            td.concession_commodities
                                span(ng-repeat="commodity in concession.concession_commodity | unique: 'commodity._id'")
                                    a(href='commodity/{{commodity.commodity_id}}')
                                        span(ng-bind-html="commodity.commodity_name|sanitize")
                                    | {{$last ? '' : ', '}}
                        tr(ng-if="concession.contracts.length>0")
                            td.detail_label.small Contract:
                            td.concession_conracts
                                text(ng-repeat="contract in concession.contracts | unique: '_id'")
                                    text(ng-if="contract.contract_id")
                                        a(href="contract/{{contract.contract_id}}")
                                            span(ng-bind-html="contract.contract_id|sanitize")
                                        | {{$last ? '' : ', '}}

        .col-md-6
            .row
                .info-box(ng-if="concession.description")
                    h2
                        | &nbsp;
                    table#concession-description
                        tbody
                            tr
                                td.detail_label.our-id Desctiption:
                                td.concession_description
                                    span(ng-bind-html="concession.description|sanitize")
            .row
                nrgi-company-table(
                companies="concession.companies"
                group='true'
                stake='true')

    .row
        .col-md-6
            nrgi-project-table(
            projects="concession.projects"
            commodity="true"
            status="true")
        .col-md-6
            nrgi-site-table(
            sites="concession.sites"
            status="true")

    .row
        .col-md-12
            nrgi-production-table(
            production="concession.production"
            projectlink="true")
    .row
        .col-md-12
            nrgi-transfer-table(
            transfers="concession.transfers"
            projectlink="true")

    .row
        .col-md-12
            nrgi-sources-table(sources="concession.sources")
