.container.top-padding-med
    .card
        form(name='update_concession_form')
            fieldset
                .col-xs-12
                    legend Concession Information
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="concession_name") Concession Name
                        .col-md-10
                            input.form-control(
                            id="concession_name"
                            name="concession_name"
                            type="text"
                            placeholder="Concession name"
                            ng-model="concession.concession_name"
                            required)
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="concession_status") Status
                        .col-md-10
                            input.form-control(
                            id="concession_status"
                            name="concession_status"
                            type="text"
                            placeholder="Status"
                            ng-model="concession.concession_status[concession.concession_status.length-1].string"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="oo_concession_id") Open Oil ID
                        .col-md-10
                            input.form-control(
                            id="oo_concession_id"
                            name="oo_concession_id"
                            type="text"
                            placeholder="Open Oil ID"
                            ng-model="concession.oo_concession_id"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="description") Description
                        .col-md-10
                            textarea.form-control(
                            id="description"
                            name="description"
                            ng-model="concession.description"
                            )
                .form-group.row
                    .col-xs-12
                        .col-md-10.col-md-offset-2
                            .pull-xs-right
                                button.btn.btn-primary(ng-click="concessionUpdate()", ng-disabled="") Submit
                                | &nbsp;
                                button.btn.btn-danger(ng-click="concessionDelete()", ng-disabled="") Delete
                                | &nbsp;
                                a.btn.btn-secondary(href="/admin/concession-admin") Cancel