.container.top-padding-med
   .well
      form.form-horizontal(name='create_concession_form')
         fieldset
            legend New Concession Information
            .form-group
               label.col-md-2.control-label(form="concession_name") Concession Name
               .col-md-10
                  input.form-control(
                  name="concession_name"
                  type="text"
                  placeholder="Concession name"
                  ng-model="concession.concession_name"
                  required)
            //.form-group
            //   label.col-md-2.control-label(form="concession_aliases") Aliases
            //   .col-md-10
            //      input.form-control(
            //      name="concession_aliases"
            //      type="text"
            //      placeholder="Aliases"
            //      ng-model="concession.concession_aliases"
            //      )
            .form-group
               label.col-md-2.control-label(form="concession_country") Country
               .col-md-10
                  select.form-control(
                  ng-model="concession.concession_country.country"
                  ng-options="item._id as item.name for item in country.data"
                  )
            .form-group
               label.col-md-2.control-label(form="concession_status") Status
               .col-md-10
                  input.form-control(
                  name="concession_status"
                  type="text"
                  placeholder="Status"
                  ng-model="concession.concession_status[concession.concession_status.length-1].string"
                  )
            //.form-group
            //   label.col-md-2.control-label(form="concession_commodity") Commodities
            //   .col-md-10
            //      input.form-control(
            //      name="concession_commodity"
            //      type="text"
            //      placeholder="Commodities"
            //      ng-model="concession.concession_commodity.commodity"
            //      )
            .form-group
               label.col-md-2.control-label(form="oo_concession_id") Open Oil ID
               .col-md-10
                  input.form-control(
                  name="oo_concession_id"
                  type="text"
                  placeholder="Open Oil ID"
                  ng-model="concession.oo_concession_id"
                  )
            .form-group
               label.col-md-2.control-label(form="description") Description
               .col-md-10
                  textarea.form-control(
                  name="description"
                  ng-model="concession.description"
                  )
            .form-group
               .col-md-10.col-md-offset-2
                  .pull-right
                     button.btn.btn-primary(
                     ng-click="concessionCreate()"
                     ng-disabled="create_concession_form.$invalid") Submit
                     | &nbsp;
                     a.btn.btn-default(href="/admin/concession-admin") Cancel