.container.top-padding-med
    .card
        form(name='create_source_form')
            fieldset
                .col-xs-12
                    legend New Source Information
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="source_name") Source Name
                        .col-md-10
                            input.form-control(
                            id="source_name"
                            name="source_name"
                            type="text"
                            placeholder="Source name"
                            ng-model="source.source_name"
                            required)
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="source_type") Source Type
                        .col-md-10
                            input.form-control(
                            id="source_type"
                            name="source_type"
                            type="text"
                            placeholder="Source type"
                            ng-model="source.source_type"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="source_url") Access Source
                        .col-md-10
                            input.form-control(
                            id="source_url"
                            name="source_url"
                            type="text"
                            placeholder="Access source"
                            ng-model="source.source_url"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="source_archive_url") Access Archive
                        .col-md-10
                            input.form-control(
                            id="source_archive_url"
                            name="source_archive_url"
                            type="text"
                            placeholder="Access archive"
                            ng-model="source.source_archive_url"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="source_notes") Desctiption
                        .col-md-10
                            textarea.form-control(
                            id="source_notes"
                            name="source_notes"
                            type="text"
                            placeholder="Desctiption"
                            ng-model="source.source_notes"
                            )
                .form-group.row
                    .col-xs-12
                        .col-md-10.col-md-offset-2
                            .pull-xs-right
                                button.btn.btn-primary(
                                ng-click="sourceCreate()"
                                ng-disabled="create_source_form.$invalid") Submit
                                | &nbsp;
                                a.btn.btn-secondary(href="/admin/source-admin") Cancel
    