.container.top-padding-med
    .card
        form(name='update_source_form')
            fieldset
                .col-xs-12
                    legend Country Information
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="name") Country Name
                        .col-md-10
                            input.form-control(
                            id="name"
                            name="name"
                            type="text"
                            placeholder="Country name"
                            ng-model="country.name"
                            required)
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="iso2") Country ISO 2
                        .col-md-10
                            input.form-control(
                            id="iso2"
                            name="iso2"
                            type="text"
                            placeholder="Country ISO 2"
                            ng-model="country.iso2"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="country_aliases") Country Aliases
                        .col-md-10
                            input.form-control(
                            id="country_aliases"
                            name="country_aliases"
                            type="text"
                            placeholder="Country aliases")
                            //ng-model="country.country_aliases"
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="country_type") Commodity Type(s)
                        .col-md-10
                            input.form-control(
                            id="country_type"
                            name="country_type"
                            type="text"
                            placeholder="Access archive"
                            ng-model="country.country_type"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="country_commodity") Commodities
                        .col-md-10
                            textarea.form-control(
                            id="country_commodity"
                            name="country_commodity"
                            type="text"
                            placeholder="Commodities")
                .form-group.row
                    .col-xs-12
                        .col-md-10.col-md-offset-2
                            .pull-xs-right
                                button.btn.btn-primary(ng-click="countryUpdate()", ng-disabled="") Submit
                                | &nbsp;
                                button.btn.btn-danger(ng-click="countryDelete()", ng-disabled="") Delete
                                | &nbsp;
                                a.btn.btn-secondary(href="/admin/country-admin") Cancel