.container.top-padding-med
   .well
      form.form-horizontal(name='update_source_form')
         fieldset
            legend Country Information
            .form-group
               label.col-md-2.control-label(form="name") Country Name
               .col-md-10
                  input.form-control(
                  name="name"
                  type="text"
                  placeholder="Country name"
                  ng-model="country.name"
                  required)
            .form-group
               label.col-md-2.control-label(form="iso2") Country ISO 2
               .col-md-10
                  input.form-control(
                  name="iso2"
                  type="text"
                  placeholder="Country ISO 2"
                  ng-model="country.iso2"
                  )
            .form-group
               label.col-md-2.control-label(form="country_aliases") Country Aliases
               .col-md-10
                  input.form-control(
                  name="country_aliases"
                  type="text"
                  placeholder="Country aliases")
                  //ng-model="country.country_aliases"
            .form-group
               label.col-md-2.control-label(form="country_type") Commodity Type(s)
               .col-md-10
                  input.form-control(
                  name="country_type"
                  type="text"
                  placeholder="Access archive"
                  ng-model="country.country_type"
                  )
            .form-group
               label.col-md-2.control-label(form="country_commodity") Commodities
               .col-md-10
                  textarea.form-control(
                  name="country_commodity"
                  type="text"
                  placeholder="Commodities")
                  //ng-model="country.country_commodity"
            .form-group
               .col-md-10.col-md-offset-2
                  .pull-right
                     button.btn.btn-primary(ng-click="sourceUpdate()", ng-disabled="") Submit
                     | &nbsp;
                     button.btn.btn-danger(ng-click="sourceDelete()", ng-disabled="") Delete
                     | &nbsp;
                     a.btn.btn-default(href="/") Cancel