.container
    .page-header
        h1
            span(ng-bind-html="commodity.commodity_name|sanitize")
            =' '
            small Commodity
    .row
        .col-md-12
            nrgi-leaflet(data='commodity.location')
    .info-box
        h2 Commodity Info
        table#commodity-info
            tbody
                tr
                    td.detail_label.small Code:
                    td.commodity_code {{commodity.commodity_code}}
                tr
                    td.detail_label.small Commodity name:
                    td.commodity_name
                        span(ng-bind-html="commodity.commodity_name|sanitize")
                tr
                    td.detail_label.small Commodity type:
                    td.commodity_type
                        span(ng-bind-html="commodity.commodity_type|sanitize")
                tr
                    td.detail_label.small Aliases:
                    td.commodity_aliases
                        span(ng-repeat="alias in commodity.commodity_aliases | unique: 'code'")
                            span {{alias.code}}
                                span.text-uppercase  ({{alias.reference}})
                            span(ng-if="!$last") ,
                            =" "
    .row
        .col-md-6
            nrgi-project-table(
            projects="commodity.projects"
            country="true"
            type="false"
            companies="true"
            commodity="false"
            status="true")
        .col-md-6
            nrgi-site-table(
            sites="commodity.sites"
            country="true"
            commoditytype="false"
            company="true"
            type="true"
            commodity="false"
            status="true")
    .row
        .col-md-6
            nrgi-contract-table(
            contracts="commodity.contracts"
            companies="true"
            commodity="false"
            country="true")
        .col-md-6
            nrgi-concession-table(
            concessions="commodity.concessions"
            country="true"
            type="false"
            commodity="false"
            status="true"
            projects="true")
    .row
        .col-md-12
            nrgi-company-table(
            companies="commodity.companies"
            stake="false"
            group="true"
            project="true"
            site="true"
            contract="true"
            concession="true")
    .row
        .col-md-12
            nrgi-sources-table(sources="commodity.sources")
    //.advanced-links
    //    .container
    //        h3
    //            a(href='') Sources
