.container
   .page-header
      .row
         .col-md-4
            h1 Commodities

   nrgi-list-nav(
   page="page"
   type="record_type"
   show="show_count"
   count="count"
   limit="limit"
   last="last"
   next="next"
   prev="prev"
   first="first"
   select="select")

   table#commodities.table.table-striped(ts-wrapper)
      thead
         tr
            th.tablesort-sortable-th(ts-criteria='commodity_name') Name
            th.tablesort-sortable-th(ts-criteria='projects|parseInt') No. Projects
            th.tablesort-sortable-th(ts-criteria='fields|parseInt') No. Fields
            th.tablesort-sortable-th(ts-criteria='sites|parseInt') No. Sites
            th.tablesort-sortable-th(ts-criteria='contracts|parseInt') No. Contracts
            th.tablesort-sortable-th(ts-criteria='concessions|parseInt') No. Concessions
      tbody
         tr(ng-repeat="commodity in commodities | unique: '_id'",ts-repeat)
            td.commodity_name
               a(href='commodity/{{commodity.commodity_id}}')
                  span(ng-bind-html="commodity.commodity_name|sanitize")
            td.commodity_projects {{commodity.projects}}
            td.commodity_projects {{commodity.fields}}
            td.commodity_projects {{commodity.sites}}
            td.commodity_contracts {{commodity.contracts}}
            td.commodity_concessions {{commodity.concessions}}

   nrgi-list-nav(
   page="page"
   type="record_type"
   show="show_count"
   count="count"
   limit="limit"
   last="last"
   next="next"
   prev="prev"
   first="first"
   select="select")
