.container
    .page-header
        h1
            span(ng-bind-html="commodity.commodity_name|sanitize")
            =' '
            small Commodity
    .row(ng-if='commodity.location.length>0')
        .col-md-12
            nrgi-leaflet(data='commodity.location')
    .info-box
        h2 Commodity Info
        table#commodity-info
            tbody
                tr
                    td.detail_label.small Code:
                    td.commodity_code {{commodity.commodity_id}}
                tr
                    td.detail_label.small Commodity name:
                    td.commodity_name
                        span(ng-bind-html="commodity.commodity_name|sanitize")
                tr
                    td.detail_label.small Commodity type:
                    td.commodity_type
                        span(ng-bind-html="commodity.commodity_type|sanitize")
                tr
                    td.detail_label.small Aliases:
                    td.commodity_aliases
                        span(ng-repeat="alias in commodity.commodity_aliases | unique: 'code'")
                            span {{alias.code}}
                                span.text-uppercase  ({{alias.reference}})
                            span(ng-if="!$last") ,
                            =" "
    .row.top-padding-lg
        .col-md-6
            nrgi-project-table(
            country="true"
            commoditytype="false"
            type="'commodity'"
            id="commodity._id"
            companies="true"
            commodity="false"
            status="true")
        .col-md-6
            nrgi-site-table(
            name="'commodity'"
            id="commodity._id"
            country="true"
            commoditytype="false"
            company="true"
            type="true"
            commodity="false"
            status="true")
    .row.top-padding-lg
        .col-md-6
            nrgi-contract-table(
            type="'commodity'"
            id="commodity._id"
            companies="true"
            commodity="false"
            country="true")
        .col-md-6
            nrgi-concession-table(
            name="'commodity'"
            id="commodity._id"
            country="true"
            type="false"
            commodity="false"
            status="true"
            projects="true")
    .row.top-padding-lg
        .col-md-12
            nrgi-company-table(
            type="'commodity'"
            id="commodity._id"
            stake="false"
            group="true"
            project="true"
            site="true"
            contract="true"
            concession="true")
    .row.top-padding-lg
        .col-md-12
            nrgi-sources-table(
            id="commodity._id"
            type="'commodity'")