.container
    .row.pagetitle
        .col-md-6
            h1 Payments by Recipient
                = ' '
                small(ng-if="count") {{count}}

    .row.top-padding-med
        .right-padding-lg: b Filter by:
    .row.top-padding-med
        .col-md-2
            .row: b Year
            .row
                form.form-inline
                    .form-group
                        select.form-control(ng-model="year_filter")
                            option(value="") Show all years
                            option(ng-repeat="(key, value) in year_selector" value="{{key}}") {{key}}: {{value}} records
        .col-md-6
            .row: b Currency
            .row
                form.form-inline
                    .form-group
                        select.form-control(ng-model="currency_filter")
                            option(value="") Show all currency
                            option(ng-repeat="(key, value) in currency_selector" value="{{key}}") {{key}}: {{value}} records
        .col-md-2
            .row
                br
            .row
                form.form-inline
                    .form-group
                        a(href='/sunburst-chart-by-gov'
                        target='_blank')
                            .btn.btn-secondary.pull-xs-right(type='button') See sunburst chart
        .col-md-2
            .row
                br
            .row
                form.form-inline
                    .form-group
                        a(href='/transfers')
                            .btn.btn-secondary.pull-xs-right(type='button') See payments by project

    .row.top-padding-med
        table#payments.table.table-striped.table-fixed-header(
        about='http://resourceprojects.org/transfer'
        ts-wrapper)
            thead.header
                tr
                    th.tablesort-sortable-th(ts-criteria='transfer_year') Year
                    th.tablesort-sortable-th(ts-criteria='company.company_name') Paid By
                    th.tablesort-sortable-th(ts-criteria='country.name') Paid To
                    th.tablesort-sortable-th(ts-criteria='transfer_gov_entity') Government entity
                    th.tablesort-sortable-th(ts-criteria='transfer_level') Level
                    th.tablesort-sortable-th(ts-criteria='transfer_type') Payment Type
                    th.tablesort-sortable-th(ts-criteria='transfer_unit') Currency
                    th.tablesort-sortable-th(ts-criteria='transfer_value') Value
            thead.header-copy.header.hide
                tr
                    th.tablesort-sortable-th(ts-criteria='transfer_year') Year
                    th.tablesort-sortable-th(ts-criteria='company.company_name') Paid By
                    th.tablesort-sortable-th(ts-criteria='country.name') Paid To
                    th.tablesort-sortable-th(ts-criteria='transfer_gov_entity') Government entity
                    th.tablesort-sortable-th(ts-criteria='transfer_level') Level
                    th.tablesort-sortable-th(ts-criteria='transfer_type') Payment Type
                    th.tablesort-sortable-th(ts-criteria='transfer_unit') Currency
                    th.tablesort-sortable-th(ts-criteria='transfer_value') Value
            tbody
                tr(
                ng-repeat="transfer in transfers | unique: '_id'"
                ts-repeat)
                    td.transfer_year {{transfer.transfer_year}}
                    td.transfer_company: a(href='company/{{transfer.company._id}}')
                        span(ng-bind-html="transfer.company.company_name|sanitize")
                    td.transfer_country: a(href='country/{{transfer.country.iso2}}')
                        span(ng-bind-html="transfer.country.name|sanitize")
                    td.transfer_type {{transfer.transfer_gov_entity}}
                    td.transfer_level {{transfer.transfer_level}}
                    td.transfer_type {{transfer.transfer_type}}
                    td.transfer_currency {{transfer.transfer_unit}}
                    td.transfer_value {{transfer.transfer_value | currency:"":0}}
    div(ng-if='transfer_count>499' infinite-scroll='loadMore()' infinite-scroll-distance='3')
    div(ng-if='transfer_count<499' infinite-scroll='load_all()' infinite-scroll-distance='3')
    div(ng-if="transfers.length>0")
        .download
            span.glyphicon.glyphicon-download(aria-hidden='true')
            span
                |  Download:
                =' '
                a(
                href=""
                ng-csv="csv_transfers"
                csv-header="getHeaderTransfers()"
                filename="transfers.csv") Payments by Recipient CSV