.container.top-padding-med
    .card
        form(name='create_project_form')
            fieldset
                .col-xs-12
                    legend Project Information
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="proj_name") Project Name
                        .col-md-10
                            input.form-control(
                            id="proj_name"
                            name="proj_name"
                            type="text"
                            placeholder="Project Name"
                            ng-model="project.proj_name"
                            required)
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="proj_aliases") Project Aliases
                        .col-md-10
                            input.form-control(
                            id="proj_aliases"
                            name="proj_aliases"
                            type="text"
                            placeholder="Project aliases"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="proj_country") Country
                        .col-md-10
                            select.form-control(
                            id="proj_country"
                            ng-model="project.proj_country.country"
                            ng-options="item._id as item.name for item in country.data"
                            required)
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="proj_type") Commodity Type(s)
                        .col-md-10
                            input.form-control(
                            id="proj_type"
                            name="proj_type"
                            type="text"
                            placeholder="Commodity Type(s)"
                            ng-model="project.proj_type"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="proj_site_name") Project Site Name
                        .col-md-10
                            input.form-control(
                            id="proj_site_name"
                            name="proj_site_name"
                            type="text"
                            placeholder="Project site name"
                            ng-model="project.proj_site_name.string"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="proj_address") Address
                        .col-md-10
                            input.form-control(
                            id="proj_address"
                            name="proj_address"
                            type="text"
                            placeholder="Address"
                            ng-model="project.proj_address.string"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="proj_coordinates") Location(s)
                        .col-md-10
                            input.form-control(
                            id="proj_coordinates"
                            name="proj_coordinates"
                            type="text"
                            placeholder="Location(s)"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="proj_status") Status
                        .col-md-10
                            input.form-control(
                            id="proj_status"
                            name="proj_status"
                            type="text"
                            placeholder="Status"
                            ng-model="project.proj_status"
                            )
                .form-group.row
                    .col-xs-12
                        label.col-md-2.form-control-label(for="description") Description
                        .col-md-10
                            textarea.form-control(
                            id="description"
                            name="description"
                            type="text"
                            placeholder="Description"
                            ng-bind-html="project.description"
                            data-ng-model="project.description"
                            )
                .form-group
                    .col-xs-12
                        .col-md-10.col-md-offset-2
                            .pull-xs-right
                                button.btn.btn-primary(ng-click="projectUpdate()", ng-disabled="") Submit
                                | &nbsp;
                                button.btn.btn-danger(ng-click="projectDelete()", ng-disabled="") Delete
                                | &nbsp;
                                a.btn.btn-secondary(href="/admin/project-admin") Cancel
