.container
    .page-header
        h1 Countries
            small

    nrgi-list-nav(
    page="page"
    type="record_type"
    show="show_count"
    count="count"
    limit="limit"
    last="last"
    next="next"
    prev="prev"
    first="first"
    select="select")

    table.table.table-striped(about='http://resourceprojects.org/country' ts-wrapper)
        thead
            tr
                th(ts-criteria='name') Country
                th(ts-criteria='projects|parseInt') No. Projects
        tbody
            tr(ng-repeat="country in countries" ts-repeat)
                td.country_name: a(href='country/{{ country._id }}') {{country.name | isoCountry}}
                td.country_projects {{country.projects}}

    nrgi-list-nav(
    page="page"
    type="record_type"
    show="show_count"
    count="count"
    limit="limit"
    last="last"
    next="next"
    prev="prev"
    first="first"
    select="select")
