.container
    .page-header
        h1
            span(ng-bind-html="country.name|sanitize")
            =' '
            small Country
    .row(ng-if="country.proj_coordinates.length>0")
        .col-md-12
            nrgi-leaflet(data='country.proj_coordinates')
    .row
        .col-md-6
            .info-box
                h2 Country Info
                table#country-info
                    tbody
                        //tr
                        //    td.detail_label.small Commodity type(s):
                        //    td.country_commodity_types
                        //        span(ng-repeat="commodity in country.commodities | unique: 'commodity_type'")
                        //            | {{commodity.commodity_type | ucfirst | addSpaces}}
                        //            | {{$last ? '' : ', '}}
                        tr
                            td.detail_label.small Commodities:
                            td.country_commodities
                                span(ng-repeat="commodity in country.commodities | unique: '_id'")
                                    a(href='commodity/{{commodity.commodity_id}}')
                                        span(ng-bind-html="commodity.commodity_name|sanitize")
                                    | {{$last ? '' : ', '}}
    .row.top-padding-lg
        .col-md-12
            nrgi-project-table(
            projects="country.projects"
            country="false"
            type="true"
            companies="true"
            commodity="true"
            status="true")
            //a(data-toggle="collapse" data-target="#projects")
            //    h2 Projects
            //#projects.panel-collapse.collapse
    .row.top-padding-lg
        .col-md-12
            nrgi-site-table(
            sites="country.sites"
            country="false"
            commoditytype="true"
            type="false"
            commodity="true"
            companies="false"
            status="true")
    .row.top-padding-lg
        .col-md-6
            nrgi-company-table(
            companies="country.companies"
            group="true"
            operation="true")
        .col-md-6
            nrgi-company-table(
            companies="country.companies_incorporated"
            group="true"
            incorporated="true")
    .row.top-padding-lg
        .col-md-6
            nrgi-contract-table(
            contracts="country.contracts"
            companies="true"
            commodity="true"
            country="false")

        .col-md-6
            nrgi-concession-table(
            concessions="country.concessions"
            country="false"
            commodity="true"
            status="true"
            projects="true")
    .row.top-padding-lg
        .col-md-12
            nrgi-production-table(
            production="country.production"
            projectlink="true")
    .row.top-padding-lg
        .col-md-12
            nrgi-transfer-table(
            transfers="country.transfers"
            project="true"
            projectlink="true")
    .row.top-padding-lg
        .col-md-12
            nrgi-sources-table(sources="country.sources")
