.container
    .row.pagetitle
        h1 Disclosures & Context

    .row
        .col-md-5: nrgi-sunburst
        .col-md-7: table.table.table-striped.table-fixed-header(
        ts-wrapper)
            thead.header
                tr
                    th.tablesort-sortable-th(ts-criteria='source_type_name') Source
                    th.tablesort-sortable-th(ts-criteria='source_type_authority') Type
                    th.tablesort-sortable-th(ts-criteria='project_count') Projects
                    th.tablesort-sortable-th(ts-criteria='source_type_name') Countries
            thead.header-copy.header.hide
                tr
                    th.tablesort-sortable-th(ts-criteria='source_type_name') Source
                    th.tablesort-sortable-th(ts-criteria='source_type_authority') Type
                    th.tablesort-sortable-th(ts-criteria='project_count') Projects
                    th.tablesort-sortable-th(ts-criteria='source_type_name') Countries
            tbody
                tr(
                ng-repeat="type in sourceTypes | unique: '_id'"
                ts-repeat)
                    td.source_type_name
                        a(href='source_type/{{ type._id }}')
                            span(ng-bind-html="type.source_type_name|sanitize")
                    td.source_type_type {{type.source_type_authority|ucfirst}}
                    td {{type.project_count}}
                    td {{type.country_count}}

    div(ng-if='sourceTypes.length>49' infinite-scroll='loadMore()' infinite-scroll-distance='1')
    div(ng-if="sourceTypes.length>0")
        .download
            span.glyphicon.glyphicon-download(aria-hidden="true")
            span  Download:
            =' '
            a(
            href=""
            ng-csv="csv_source_types"
            csv-header="getHeaderSourceTypes()"
            filename="allSourceTypes.csv") Source Types CSV